PANEL_PASSWORD=contasenya_acceso_al_panel
SESSION_SECRET=contrasenya_de_sesion
PRIVATE_KEY=wallet para el trading direccional
COPY_PRIVATE_KEY=wallet para el copy trading
WALLET_TYPE=tipo de cuenta(1=email, 0=metamask)
COPY_WALLET_TYPE= tipo de cuenta para el copy tading(1=email, 0= metamask)